.comments {
  margin: $gap 0 0;
}

.comment {
  &-author {
    font-weight: bold;
  }
  &-meta {
    color: $stroke;
    font-size: ($z * .8);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.form-comment {
  label {
    padding-top: ((($y * 2) - $h) / 2);
  }
}

// .form-comment .button.comment-reply\:x {
//   @extend .button.error;
// }