.grids {
  @extend .cf, .p;
  margin-right: -($x / 2);
  margin-left: -($x / 2);
  &.no-gap {
    margin-right: 0;
    margin-left: 0;
    .grid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .grid {
    min-height: 1px;
    float: left;
    padding: 0 ($x / 2);
    background-clip: content-box;
    &.span {
      @for $i from 1 through 6 {
        &-#{$i} {
          width: (100% * ($i / 6));
        }
      }
    }
  }
}