* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  img {
    border: 0;
  }
}

abbr,
dfn {
  text-decoration: none;
  cursor: help;
}
b,
kbd,
strong,
th {
  font-weight: bolder;
}

caption,
dfn,
em,
figcaption,
i,
var {
  font-style: italic;
}

ins,
u {
  text-decoration: underline;
}

del,
s,
strike {
  text-decoration: line-through;
}

code {
  font-family: monospace;
}

small {
  font-size: smaller;
}

sub,
sup {
  position: relative;
  top: -.5em;
  font-size: smaller;
}
sub {
  top: .5em;
}

blockquote,
q {
  &::before,
  &::after {
    content: "";
    display: none;
  }
}

article,
aside,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

mark,
time {
  display: inline;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  display: inline-block;
  background: none;
  border: 0;
}

button,
label,
summary {
  @include user-select-none;
  cursor: pointer;
}

button,
input {
  &::-moz-focus-inner {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
}

input {
  &[type='checkbox'],
  &[type='color'],
  &[type='file'],
  &[type='image'],
  &[type='radio'],
  &[type='range'] {
    cursor: pointer;
  }
}

select {
  cursor: pointer;
}

pre {
  overflow: auto;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  code {
    display: block;
  }
}

table {
  border-collapse: collapse;
}

td,
th {
  text-align: left;
  vertical-align: top;
}