* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
}
:focus {
  outline: none;
}
a, .button.link {
  text-decoration: none;
}
a img, .button.link img {
  border: 0;
}
abbr, dfn {
  text-decoration: none;
  cursor: help;
}
b, kbd, strong, th {
  font-weight: bolder;
}
caption, dfn, em, figcaption, i, var {
  font-style: italic;
}
ins, u {
  text-decoration: underline;
}
del, s, strike {
  text-decoration: line-through;
}
code {
  font-family: monospace;
}
small {
  font-size: smaller;
}
sub, sup {
  position: relative;
  top: -0.5em;
  font-size: smaller;
}
sub {
  top: 0.5em;
}
blockquote::before, q::before, blockquote::after, q::after {
  content: "";
  display: none;
}
article, aside, footer, header, hgroup, nav, section {
  display: block;
}
mark, time {
  display: inline;
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  display: inline-block;
  background: none;
  border: 0;
}
button, label {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
input[type='checkbox'], input[type='color'], input[type='file'], input[type='image'], input[type='radio'], input[type='range'] {
  cursor: pointer;
}
select {
  cursor: pointer;
}
pre {
  overflow: auto;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}
pre code {
  display: block;
}
table {
  border-collapse: collapse;
}
td, th {
  text-align: left;
  vertical-align: top;
}
.hidden {
  display: none;
}
.hidden-visually, .sr {
  position: absolute !important;
  clip: rect(0 0 0 0);
  clip: rect(0px, 0px, 0px, 0px);
  width: 1px;
  height: 1px;
  margin: -1px 0 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.cl, .cf::after, .grids::after, .content::after, .nav ul::after, .footer::after, .widget .recent-comment::after {
  display: table;
  clear: both;
}
.cf, .grids {
  *zoom: 1;
}
.cf::after, .grids::after, .content::after, .nav ul::after, .footer::after, .widget .recent-comment::after {
  content: "";
}
.align-right {
  display: block;
  float: right;
}
.align-right img {
  display: inline-block;
}
.align-left {
  display: block;
  float: left;
}
.align-left img {
  display: inline-block;
}
.align-center {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.align-center img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.align-top {
  vertical-align: top;
}
.align-bottom {
  vertical-align: bottom;
}
.align-middle {
  vertical-align: middle;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
/* `<div class="p">` */
* + .p, * + .audio, * + .image, * + .video, * + h1, * + h2, * + h3, * + h4, * + h5, * + h6, * + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + dt, * + .h6, * + hr, * + blockquote, * + details, * + dl, * + fieldset, * + figure, * + form, * + ol, * + p, * + pre, * + table, * + ul, * + .grids {
  margin-top: 18px;
}
/* `<div class="audio"><audio src></audio></div>` */
.audio {
  position: relative;
}
.audio audio {
  display: block;
  width: 100%;
}
/* `<figure class="image">` */
.image {
  text-align: center;
}
.image img {
  display: inline-block;
  margin-right: auto;
  marign-left: auto;
}
/* `<table class="table">` */
.table {
  width: 100%;
}
.table th, .table td {
  border: 1px solid;
}
/* `<div class="video"><video src></video></div>` */
.video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.video embed, .video iframe, .video img, .video object, .video video {
  /* :\ */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
html {
  font: normal normal 13px/18px Helmet, FreeSans, sans-serif;
}
blockquote {
  font-size: 14.3px;
}
code, .code {
  font-size: 11.18px;
  font-weight: normal;
  font-style: normal;
}
code, pre, .code {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
}
details summary {
  cursor: pointer;
}
pre code {
  padding: 9px 12px;
  font-size: 100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, dt, .h6 {
  line-height: 1.25;
  word-wrap: break-word;
}
h1, .h1 {
  font-size: 26px;
}
h2, .h2 {
  font-size: 23.4px;
}
h3, .h3 {
  font-size: 20.8px;
}
h4, .h4 {
  font-size: 18.2px;
}
h5, .h5, dt {
  font-size: 15.6px;
}
h6, .h6 {
  font-size: 13px;
}
hr {
  border-top: 1px dashed #999;
  color: inherit;
}
ol {
  margin-left: 36px;
  list-style: decimal outside;
}
ul {
  margin-left: 36px;
  list-style: disc outside;
}
ol ol, ul ol, ol ul, ul ul {
  margin-top: 0;
  margin-left: 18px;
}
dd {
  margin-left: 18px;
}
figcaption {
  margin-top: 9px;
  text-align: center;
}
fieldset {
  padding: 18px 18px;
  border: 1px solid;
}
fieldset legend + * {
  margin-top: 0;
}
legend {
  margin: 0;
  padding: 0 9px;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11.18px;
  overflow: visible;
}
optgroup {
  font: inherit;
  font-weight: bolder;
}
optgroup option {
  padding-left: 18px;
  font-weight: normal;
}
iframe:not([width]) {
  width: 100%;
}
iframe:not([height]) {
  height: 90px;
}
.table caption {
  caption-side: bottom;
  margin: 9px 0 0;
  text-align: center;
}
.table th, .table td {
  padding: 7.75px 9px;
}
.align-right {
  margin-left: 18px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
.align-left {
  margin-right: 18px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
.notes hr {
  border-style: solid;
  border-color: #999;
  width: 91px;
}
.notes ol {
  font-size: 10.4px;
}
::placeholder {
  color: grey;
  opacity: 1;
  line-height: inherit;
}
:focus::placeholder {
  color: #666;
}
::-webkit-input-placeholder {
  color: grey;
  opacity: 1;
  line-height: inherit;
}
:focus::-webkit-input-placeholder {
  color: #666;
}
::-moz-input-placeholder {
  color: grey;
  opacity: 1;
  line-height: inherit;
}
:focus::-moz-input-placeholder {
  color: #666;
}
:-moz-placeholder {
  color: grey;
  opacity: 1;
  line-height: inherit;
}
:focus:-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: grey;
  opacity: 1;
  line-height: inherit;
}
:focus:-ms-input-placeholder {
  color: #666;
}
.button, .input, .select, .textarea {
  display: inline-block;
  width: 180px;
  height: 36px;
  vertical-align: middle;
  padding: 9px 11.7px;
  background: #333;
  color: #fff;
  border: 0;
  text-align: left;
}
.button.small, .input.small, .select.small, .textarea.small {
  height: 27px;
  font-size: 10.4px;
  padding: 4.5px 9px;
}
.button.width, .input.width, .select.width, .textarea.width {
  display: block;
  width: 100%;
}
.button:invalid, .input:invalid, .select:invalid, .textarea:invalid {
  color: #faa;
}
.button {
  width: auto;
  padding-right: 13.5px;
  padding-left: 13.5px;
  color: #ffa;
  text-align: center;
  border-radius: 2px;
}
.button:focus, .button:hover {
  background: #383838;
  color: #ffa;
}
.button:active {
  background: #2e2e2e;
  color: #ffa;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
}
.button.primary, .button[href] {
  background: #365d98;
}
.button.primary:focus, .button[href]:focus, .button.primary:hover, .button[href]:hover {
  background: #3962a0;
}
.button.primary:active, .button[href]:active {
  background: #335890;
}
.button.error {
  background: #933;
}
.button.error:focus, .button.error:hover {
  background: #a13636;
}
.button.error:active {
  background: #913030;
}
.button.info {
  background: #6aaac2;
}
.button.info:focus, .button.info:hover {
  background: #71aec5;
}
.button.info:active {
  background: #63a6bf;
}
.button.success, .button[type='submit'] {
  background: #4b9343;
}
.button.success:focus, .button[type='submit']:focus, .button.success:hover, .button[type='submit']:hover {
  background: #4f9a46;
}
.button.success:active, .button[type='submit']:active {
  background: #478c40;
}
.button.warning {
  background: #db582c;
}
.button.warning:focus, .button.warning:hover {
  background: #dc5f35;
}
.button.warning:active {
  background: #d85225;
}
.button.link {
  background: transparent;
  box-shadow: none;
}
.textarea {
  overflow: auto;
  height: auto;
  min-height: 90px;
  resize: vertical;
}
.textarea.small {
  min-height: 45px;
}
.textarea.height {
  height: 288px;
}
[disabled], [readonly], .disabled, .readonly, [disabled] button, [readonly] button, .disabled button, .readonly button, [disabled] input, [readonly] input, .disabled input, .readonly input, [disabled] select, [readonly] select, .disabled select, .readonly select, [disabled] textarea, [readonly] textarea, .disabled textarea, .readonly textarea, [disabled] .button, [readonly] .button, .disabled .button, .readonly .button, [disabled] .input, [readonly] .input, .disabled .input, .readonly .input, [disabled] .select, [readonly] .select, .disabled .select, .readonly .select, [disabled] .textarea, [readonly] .textarea, .disabled .textarea, .readonly .textarea {
  cursor: default;
  cursor: not-allowed;
  opacity: 0.9;
}
.input[type='checkbox'], .input[type='color'], .input[type='file'], .input[type='image'], .input[type='range'] {
  background: none;
  padding: 0;
  color: inherit;
}
.input[type='color'] {
  width: 36px;
  height: 36px;
}
.input[type='checkbox'], .input[type='image'], .input[type='radio'] {
  width: auto;
  height: auto;
}
label .input:checked + span {
  opacity: 0.6;
}
.grids {
  margin-right: -9px;
  margin-left: -9px;
}
.grids.no-gap {
  margin-right: 0;
  margin-left: 0;
}
.grids.no-gap .grid {
  padding-right: 0;
  padding-left: 0;
}
.grids .grid {
  min-height: 1px;
  float: left;
  padding: 0 9px;
  background-clip: content-box;
}
.grids .grid.span-1 {
  width: 16.6666666667%;
}
.grids .grid.span-2 {
  width: 33.3333333333%;
}
.grids .grid.span-3 {
  width: 50%;
}
.grids .grid.span-4 {
  width: 66.6666666667%;
}
.grids .grid.span-5 {
  width: 83.3333333333%;
}
.grids .grid.span-6 {
  width: 100%;
}
.alert p {
  margin: 0;
  padding: 9px 12px;
  background: #333;
  color: #fff;
  overflow: hidden;
}
.alert p.error {
  background: #cf3030;
}
.alert p.info {
  background: #00a2d1;
}
.alert p.success {
  background: #8eab1a;
}
.alert p.warning {
  background: #ffde76;
}
.alert p.warning {
  color: #333;
}
.alert p a, .alert p .button.link {
  color: #ffa;
}
.alert p code {
  opacity: 0.7;
}
.alert p + p {
  margin-top: 2px;
}
::selection {
  background: #fdf2c4;
  color: #333;
  text-shadow: none;
}
html {
  background: #fff;
  color: #333;
  border-top: 5px solid;
}
a, .button.link {
  color: #365d98;
}
a:focus, .button.link:focus, a:hover, .button.link:hover {
  color: #4474bd;
}
a:active, .button.link:active {
  color: #294672;
}
abbr[title], dfn[title] {
  border-bottom: 1px solid transparent;
}
abbr[title]:hover, dfn[title]:hover {
  border-bottom-color: inherit;
}
hr {
  margin: 5% 0;
}
mark, mark::selection {
  background: #f9dc62;
  color: #333;
}
pre code {
  background: #333;
  color: #fff;
  border-radius: 3px;
}
.outer {
  width: 900px;
  margin: 0 auto;
}
.header {
  margin: 5% 0;
}
.content {
  margin-top: 5%;
}
.aside {
  width: 25%;
  float: left;
  clear: both;
  overflow: hidden;
}
.aside .widget-title {
  margin: 0;
}
.aside + .main {
  float: right;
  width: 70%;
  overflow: hidden;
}
.nav a, .nav .button.link {
  display: block;
  font-weight: bolder;
  padding: 0 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav li, .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav li {
  float: left;
  position: relative;
}
.nav li a, .nav li .button.link {
  padding: 0 18px;
}
.nav li li {
  float: none;
}
.nav li ul {
  line-height: 36px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  max-width: 180px;
  min-width: 144px;
  background: #fff;
  border: 1px solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  visibility: hidden;
}
.nav li ul ul {
  top: -1px;
  left: 100%;
}
.nav li:hover > ul {
  visibility: visible;
}
.nav ul {
  line-height: 40.5px;
}
.nav .current > a, .nav .current > .button.link {
  background: #365d98;
  color: #fff;
}
.nav .current > a:focus, .nav .current > .button.link:focus, .nav .current > a:hover, .nav .current > .button.link:hover {
  background: #3962a0;
}
.nav .current > a:active, .nav .current > .button.link:active {
  background: #335890;
}
.toggle {
  position: absolute;
  top: 5px;
  /* border-top-width */
  left: 0;
  width: 44px;
  height: 44px;
  font-size: 26px;
  line-height: 44px;
  text-align: center;
  display: none;
}
.toggle::before {
  display: block;
  width: inherit;
  height: inherit;
  font-size: 100%;
  line-height: inherit;
}
* + .page, * + .widget, * + .page-body, * + .widget-body {
  margin-top: 18px;
}
.page-footer {
  margin: 5% 0 0;
}
.page-meta {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #999;
}
.page + .page {
  margin-top: 5%;
}
.is\:error .page-body {
  padding: 20% 0;
  text-align: center;
}
.is\:pages .page-meta {
  font-size: 10.4px;
  letter-spacing: 2px;
}
.footer {
  margin: 5% 0;
  clear: both;
}
.footer-right {
  float: right;
}
.footer-left {
  float: left;
}
.t-o-c summary {
  text-transform: uppercase;
}
.widget li, .widget ol, .widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget li {
  padding: 4.5px 0;
  border: inherit;
  border-width: 0 0 1px;
}
.widget ol, .widget ul {
  border: 0 solid #999;
  border-width: 1px 0 0;
}
.widget .count::before {
  content: '(';
}
.widget .count::after {
  content: ')';
}
.widget .current > a, .widget .current > .button.link {
  color: inherit;
}
.widget .form-search {
  position: relative;
  background: #333;
  color: #fff;
  overflow: hidden;
}
.widget .form-search p {
  margin: 0;
}
.widget .form-search .button, .widget .form-search .input {
  display: block;
  width: 100%;
  background: none;
  border-radius: 0;
}
.widget .form-search .button {
  padding-right: 0;
  padding-left: 0;
  width: 36px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.widget .form-search .button, .widget .form-search .button:focus, .widget .form-search .button:hover, .widget .form-search .button:active {
  background: none;
  box-shadow: none;
}
.widget .form-search .input {
  padding-right: 36px;
}
.widget .recent-comments, .widget .recent-comment {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  border-width: 0;
  list-style: none;
}
.widget .recent-comments li + li {
  margin-top: 9px;
}
.widget .recent-comment p {
  margin: 0;
}
.widget .recent-comment-author {
  font: inherit;
  font-weight: bolder;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget .recent-comment-avatar {
  display: block;
  width: 50px;
  height: 50px;
}
.widget .recent-comment-body, .widget .recent-comment-footer {
  margin-top: 3.25px;
}
.widget .recent-comment-figure {
  width: 59px;
  float: left;
}
.widget .recent-comment-time {
  font-size: 10.4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.aside .widget-header + .widget-body {
  margin-top: 9px;
}
.comments {
  margin: 5% 0 0;
}
.comment-author {
  font-weight: bolder;
}
.comment-meta {
  font-size: 10.4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
}
.form-comment label {
  padding-top: 9px;
}
.pager {
  margin-top: 5%;
  overflow: hidden;
}
.pager-normal a, .pager-normal .button.link, .pager-normal b, .pager-normal span, .pager-normal a:focus, .pager-normal .button.link:focus, .pager-normal b:focus, .pager-normal span:focus, .pager-normal a:hover, .pager-normal .button.link:hover, .pager-normal b:hover, .pager-normal span:hover, .pager-normal a:active, .pager-normal .button.link:active, .pager-normal b:active, .pager-normal span:active {
  padding: 0;
  background: none;
  color: inherit;
}
.pager-normal a, .pager-normal .button.link {
  color: #365d98;
}
.pager-normal a:focus, .pager-normal .button.link:focus, .pager-normal a:hover, .pager-normal .button.link:hover {
  color: #4474bd;
}
.pager-normal a:active, .pager-normal .button.link:active {
  color: #294672;
}
.pager-prev {
  float: left;
}
.pager-next {
  float: right;
}
.alert .error::before, .alert .info::before, .alert .success::before, .alert .warning::before, .button.page-link::before, .comments-header h3::before, .comment-reply\:v::before, .comment-status\:1 > .comment-header > .comment-author::after, .form-comment .button[type='submit']::before, .form-comment .button[href$='#comment']::before, .form-user\:enter .button::before, .form-user\:exit .button[href]::before, .form-user\:exit .button[href*='exit=']::before, .is\:pages .page-time::before, .form-search .button::before, .page-link::after, .page-time::before, .pager-prev a::before, .pager-prev .button.link::before, .pager-next a::after, .pager-next .button.link::after, .toggle::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.alert p::before {
  width: 18px;
  text-align: center;
  margin: 0 4.5px 0 -3.25px;
}
.alert .error::before {
  content: '\f00d';
  /* times */
  margin-right: 0.5em;
}
.alert .info::before {
  content: '\f129';
  /* info */
}
.alert .success::before {
  content: '\f00c';
  /* check */
}
.alert .warning::before {
  content: '\f071';
  /* exclamation-triangle */
}
.button.page-link::before {
  content: '\f074';
  /* random */
  margin-right: 0.25em;
}
.comments-header h3::before {
  content: '\f086';
  /* comments */
  margin-right: 0.25em;
}
.comment-reply\:v::before {
  content: '\f067';
  /* plus */
  margin-right: 0.25em;
}
.comment-status\:1 > .comment-header > .comment-author::after {
  content: '\f2be';
  margin-left: 0.5em;
}
.form-comment .button[type='submit']::before {
  content: '\f058';
  /* check-circle */
  margin-right: 0.25em;
}
.form-comment .button[href$='#comment']::before {
  content: '\f057';
  /* times-circle */
  margin-right: 0.25em;
}
.form-search .button::before {
  content: '\f002';
  /* search */
  display: block;
}
.form-user\:enter .button::before {
  content: '\f084';
  /* key */
  margin-right: 0.25em;
}
.form-user\:exit .button[href]::before {
  content: '\f007';
  /* user */
  margin-right: 0.25em;
}
.form-user\:exit .button[href*='exit=']::before {
  content: '\f235';
  /* user-times */
  margin-right: 0.25em;
}
.is\:pages .page-time::before {
  margin-top: 0.45em;
  /* magic number :( */
}
.page-link::after {
  content: '\f14c';
  /* external-link-square */
  margin-left: 0.5em;
}
.page-time::before {
  content: '\f073';
  /* calendar */
  display: block;
  float: left;
  margin: 0.1em 0.5em 0 0;
  /* magic number :( */
}
.pager-prev a::before, .pager-prev .button.link::before {
  content: '\f104';
  /* angle-left */
  margin-right: 0.5em;
}
.pager-next a::after, .pager-next .button.link::after {
  content: '\f105';
  /* angle-right */
  margin-left: 0.5em;
}
.toggle::before {
  content: '\f0c9';
  /* navicon */
}
@media (max-width: 960px) {
  .outer {
    width: auto;
    margin: 0 5%;
  }
}
@media (max-width: 690px) {
  body {
    padding-top: 22px;
  }
  .header {
    text-align: center;
  }
  .nav {
    display: none;
    height: auto;
  }
  .nav li {
    float: none;
    display: block;
  }
  .nav li ul {
    visibility: visible;
    opacity: 1;
    border: 0;
    margin-top: 0;
    position: static;
    width: auto;
    max-width: 100%;
    min-width: 0;
    background: none;
    box-shadow: none;
  }
  .nav li ul a, .nav li ul .button.link {
    font-weight: normal;
    font-size: 10.4px;
  }
  .nav li ul ul {
    margin-left: 9px;
  }
  .aside, .main, .aside + .main {
    float: none;
    display: block;
    clear: both;
    width: auto;
    padding: 0;
  }
  .aside {
    padding-bottom: 5%;
    display: none;
  }
  .toggle, .is\:aside-visible .aside, .is\:aside-visible .nav {
    display: block;
  }
  .is\:aside-visible body {
    padding-top: 0;
  }
  .is\:aside-visible .toggle {
    position: static;
    float: left;
    margin: 0 0 5%;
  }
  .footer {
    text-align: center;
  }
  .footer-right, .footer-left {
    float: none;
    display: inline;
  }
  .footer-right::before {
    content: '\2013';
    color: #999;
    margin: 0 13px;
  }
  .align-right, .align-left {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  * + .align-right, * + .align-left {
    margin-top: 18px;
  }
}
@media (max-width: 580px) {
  .grids {
    margin-right: 0;
    margin-left: 0;
  }
  .grids .grid {
    float: none;
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
  }
}
