@import 'r/$';
@import 'r/reset';
@import 'r/h';
@import 'r/t';
@import 'r/form';
@import 'r/grid';
@import 'r/alert';

::selection {
  background: lighten($color-marker, 20%);
  color: #333;
  text-shadow: none;
}

html {
  background: $background;
  color: $color;
  border-top: 5px solid;
}

a {
  color: $color-link;
  &:focus,
  &:hover {
    color: lighten($color-link, 10%);
  }
  &:active {
    color: darken($color-link, 10%);
  }
}

abbr,
dfn {
  &[title] {
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom-color: inherit;
    }
  }
}

hr {
  margin: $w 0;
}

mark {
  &,
  &::selection {
    background: $color-marker;
    color: $color;
  }
}

pre {
  code {
    background: $color;
    color: $background;
    border-radius: 3px;
  }
}

.outer {
  width: ($x * 50);
  margin: 0 auto;
}

.header {
  margin: $w 0;
}

.content {
  margin-top: $w;
  &::after {
    @extend .cf::after;
  }
}

.aside {
  width: 25%;
  float: left;
  clear: both;
  overflow: hidden;
  .toggle {
    position: absolute;
    top: 5px; /* border-top-width */
    left: 0;
    width: 45px;
    height: 40.5px;
    font-size: 19.5px;
    line-height: 40.5px;
    text-align: center;
    display: none;
  }
  .widget {
    &-title {
      margin: 0;
    }
  }
  + .main {
    float: right;
    width: 70%;
    overflow: hidden;
  }
}

.nav {
  a {
    display: block;
    font-weight: bolder;
    padding: 0 ($x * 2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  li,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
    position: relative;
    a {
      padding: 0 $x;
    }
    li {
      float: none;
    }
    ul {
      line-height: ($y * 2);
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 9999;
      max-width: ($x * 10);
      min-width: ($x * 8);
      background: $background;
      border: 1px solid;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
      visibility: hidden;
      ul {
        top: -1px;
        left: 100%;
      }
    }
    &:hover > ul {
      visibility: visible;
    }
  }
  ul {
    line-height: ($y * 2.25);
    &::after {
      @extend .cf::after;
    }
  }
  .current {
    > a {
      background: map-get($color-button, 'primary');
      color: $background;
      &:focus,
      &:hover {
        background: lighten(map-get($color-button, 'primary'), 2%);
      }
      &:active {
        background: darken(map-get($color-button, 'primary'), 2%);
      }
    }
  }
}

.page,
.widget {
  * + &,
  * + &-body {
    margin-top: $y;
  }
}

.page {
  &-footer {
    margin: $w 0 0;
  }
  &-meta {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $color-gray;
  }
  + .page {
    margin-top: $w;
  }
}

.is {
  &\:error {
    .page {
      &-body {
        padding: ($w * 4) 0;
        text-align: center;
      }
    }
  }
  &\:pages {
    .page {
      &-time {
        font-size: ($z * .8);
      }
    }
  }
}

.footer {
  margin: $w 0;
  clear: both;
  &-right {
    float: right;
  }
  &-left {
    float: left;
  }
  &::after {
    @extend .cf::after;
  }
}

@import 'r/widget';
@import 'r/comment';
@import 'r/pager';
@import 'r/icon';

/*
.comments {
  margin: 5% 0 0;
}
.comment-author {
  font: inherit;
  font-weight: bold;
}
.comment-meta {
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.1538461538em;
  color: var(--color-alt-2);
}
.form-comment h4, .form-comment .form-comment-button, .form-comment .form-comment-input, .form-comment .form-comment-select, .form-comment .form-comment-textarea, .form-comment .form-comment-button.p, .form-comment .form-comment-input.p, .form-comment .form-comment-select.p, .form-comment .form-comment-textarea.p, .form-comment .p, .form-contact .form-contact-button, .form-contact .form-contact-input, .form-contact .form-contact-select, .form-contact .form-contact-textarea, .form-contact .form-contact-button.p, .form-contact .form-contact-input.p, .form-contact .form-contact-select.p, .form-contact .form-contact-textarea.p, .form-contact .p {
  margin: var(--y) 0 0 0;
  padding: 0;
}
.form-comment .form-comment .alert {
  margin-bottom: var(--y);
}
.form-comment .button[type='submit'] {
  background: var(--color-button-success);
}
.form-comment .button[type='submit']:focus, .form-comment .button[type='submit']:hover {
  background: var(--color-button-success--hover);
}
.form-comment .button[type='submit']:active {
  background: var(--color-button-success--active);
}
.form-comment .button[href$='#form-comment'] {
  background: var(--color-button-error);
}
.form-comment .button[href$='#form-comment']:focus, .form-comment .button[href$='#form-comment']:hover {
  background: var(--color-button-error--hover);
}
.form-comment .button[href$='#form-comment']:active {
  background: var(--color-button-error--active);
}
/*
 .form-comment .rich-text-editor,
 .form-contact .rich-text-editor {
 border-width:0;
 border-color:var(--color-a);
 background:var(--color);
 color:var(--color--inverse);
 }
 .form-comment .rich-text-editor-view,
 .form-contact .rich-text-editor-view {padding:.7692307692307693em}
 .form-comment .rich-text-editor-view a,
 .form-contact .rich-text-editor-view a {color:var(--color-a)}
 .form-comment .rich-text-editor-tools,
 .form-contact .rich-text-editor-tools {
 font-size:120%;
 visibility:visible;
 opacity:1;
 }
 .form-comment .rich-text-editor-tools a,
 .form-contact .rich-text-editor-tools a {
 background:none;
 color:var(--color-alt-2);
 }
 .form-comment .rich-text-editor-tools a:focus,
 .form-comment .rich-text-editor-tools a:hover,
 .form-contact .rich-text-editor-tools a:focus,
 .form-contact .rich-text-editor-tools a:hover {
 background:none;
 color:var(--color--inverse);
 }
 .form-comment .rich-text-editor-d input,
 .form-contact .rich-text-editor-d input {color:var(--color--inverse)}

.pager-step span a, .pager-step span b {
  border-radius: 2px;
}

 .page-type\:quote blockquote {font-size:120%}
 .page-type\:quote blockquote p:first-child {text-indent:-.4em} // Same with the opening curly quote’s width //
 .page-type\:quote:first-child blockquote:first-child,
 .page-type\:quote:first-child blockquote p:first-child {margin-top:0}
 .is-page .page-type\:quote blockquote {font-size:220%}
 .page-type\:quote blockquote + p {
 font-size:80%;
 letter-spacing:.15384615384615385em;
 color:var(--color-alt-2);
 }
 .page-type\:quote blockquote + p a {color:inherit}
 .page-type\:quote blockquote + p a:focus,
 .page-type\:quote blockquote + p a:hover {text-decoration:underline}
 .page-type\:log {
 padding:0 0 0 1em;
 border-left:1px solid;
 }
 .page-type\:log p:first-child {margin-top:0}
 .page-type\:log p:last-child {font-size:80%}
 */


.aside .toggle::before {
  /* navicon */
  display: block;
  width: inherit;
  height: inherit;
  font-size: 100%;
  line-height: inherit;
}

/* @media */
@media (max-width: 60em) {
  .outer {
    width: auto;
    margin: 0 5%;
  }
}
@media (max-width: 43.125em) {
  body {
    padding-top: 3.0769230769em;
  }
  .header {
    text-align: center;
  }
  .nav {
    display: none;
    height: auto;
  }
  .nav li {
    float: none;
    display: block;
  }
  .nav li ul {
    visibility: visible;
    margin-top: 0;
    opacity: 1;
    position: static;
    width: auto;
    max-width: 100%;
    min-width: 0;
    background: none;
    border: none;
    box-shadow: none;
  }
  .nav li li ul {
    margin-left: 0;
  }
  .nav li ul a, .nav li ul .a {
    font-weight: normal;
    font-size: 96%;
    margin: 0;
  }
  .nav li ul ul {
    margin-left: 1em;
  }
  .aside, .main, .aside + .main {
    float: none;
    display: block;
    clear: both;
    width: auto;
    padding: 0;
  }
  .aside {
    padding-bottom: 5%;
    display: none;
  }
  .aside-toggle, .aside-is-visible .nav, .aside-is-visible .aside {
    display: block;
  }
  .aside-is-visible .aside-toggle {
    position: static;
    float: left;
    margin: 0 0 5%;
  }
  .footer {
    text-align: center;
  }
  .footer-left, .footer-right {
    float: none;
    display: inline;
  }
  .footer-right:before {
    content: '\2013';
    color: var(--color-alt-2);
    margin: 0 1em;
  }
  .align-left, .align-right {
    float: none;
    display: block;
    margin: 0 auto var(--y);
    text-align: center;
  }
}
@media (max-width: 36.25em) {
  .grid-group {
    margin-right: 0;
    margin-left: 0;
  }
  .grid {
    float: none;
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: inherit;
  }
  .grid.form-label {
    line-height: inherit;
    margin-bottom: var(--y);
  }
  .grid:empty {
    display: none;
  }
}










.notes hr {
  border-style: solid;
  border-color: #999;
  width: 91px;
}
.notes ol {
  font-size: 11.18px;
}
