@import 'r/$';
@import 'r/reset';
@import 'r/h';
@import 'r/typography';
@import 'r/grid';
@import 'r/alert';

::placeholder {
  color: #b3b3b3;
}
/*
 ::-webkit-input-placeholder {
 color: var(--color-border);
 opacity: 1;
 overflow: visible;
 /* webkit only :(
 line-height: inherit;
 }
 ::-moz-placeholder {
 color: var(--color-alt-2);
 opacity: 1;
 line-height: inherit;
 }
 :-moz-placeholder {
 color: var(--color-alt-2);
 opacity: 1;
 line-height: inherit;
 }
 :-ms-input-placeholder {
 color: var(--color-alt-2);
 opacity: 1;
 line-height: inherit;
 }
 :placeholder {
 color: var(--color-alt-2);
 opacity: 1;
 line-height: inherit;
 }
 :focus::-webkit-input-placeholder {
 color: var(--color-alt-1) !important
 }
 :focus::-moz-placeholder {
 color: var(--color-alt-1) !important
 }
 :focus:-moz-placeholder {
 color: var(--color-alt-1) !important
 }
 :focus:-ms-input-placeholder {
 color: var(--color-alt-1) !important
 }
 :focus:placeholder {
 color: var(--color-alt-1) !important
 }
 ::-moz-selection {
 background: var(--color-selection);
 color: var(--color);
 text-shadow: none;
 }*/



.outer {
  width: ($x * 50);
  margin: 0 auto;
}

.header {
  margin: $w 0;
}

.content {
  margin-top: $w;
  &::after {
    @extend .cf::after;
  }
}

.aside {
  width: 25%;
  float: left;
  clear: both;
  overflow: hidden;
  &-toggle {
    position: absolute;
    top: 5px; /* border-top-width */
    left: 0;
    width: 45px;
    height: 40.5px;
    font-size: 19.5px;
    line-height: 40.5px;
    text-align: center;
    display: none;
  }
  .widget {
    &-title {
      margin: 0;
    }
  }
  + .main {
    float: right;
    width: 70%;
    overflow: hidden;
  }
}

.nav {
  a {
    display: block;
    font-weight: bolder;
    padding: 0 ($x * 2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  li,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
    position: relative;
    a {
      padding: 0 $x;
    }
    li {
      float: none;
    }
    ul {
      line-height: ($y * 1.5);
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 9999;
      max-width: 198px;
      min-width: 126px;
      background: $background;
      border: 1px solid;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
      visibility: hidden;
      ul {
        top: -1px;
        left: 100%;
      }
    }
    &:hover > ul {
      visibility: visible;
    }
  }
  ul {
    line-height: ($y * 2.25);
    &::after {
      @extend .cf::after;
    }
  }
  .current {
    > a {
      background: $color-button-primary;
      color: $background;
      &:focus,
      &:hover {
        background: $color-button-primary-hover;
      }
      &:active {
        background: $color-button-primary-active;
      }
    }
  }
}

.page,
.widget {
  * + &,
  * + &-body {
    margin-top: $y;
  }
}

.page {
  &-footer {
    margin: $w 0 0;
  }
  &-meta {
    text-transform: uppercase;
    letter-spacing: .1538461538em; /* magic number :( */
    color: $color-gray;
  }
  + .page {
    margin-top: $w;
  }
}

.is {
  &\:error {
    .page {
      &-body {
        padding: ($w * 4) 0;
        text-align: center;
      }
    }
  }
  &\:pages {
    .page {
      &-time {
        font-size: ($z * .86);
      }
    }
  }
}

.pager {
  margin-top: $w;
  overflow: hidden;
  &-prev {
    float: left;
  }
  &-next {
    float: right;
  }
}

.footer {
  margin: $w 0;
  clear: both;
  &-right {
    float: right;
  }
  &-left {
    float: left;
  }
  &::after {
    @extend .cf::after;
  }
}





.widget li, .widget ol, .widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget li {
  padding: 0.3846153846em 0;
  border-bottom: 1px solid;
}
.widget li:first-child {
  border-top: 1px solid;
}
.widget-header + .widget-body {
  margin-top: 1em;
}
.widget .recent-comments, .widget .recent-comment, .widget .recent-comment:first-child {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}
.widget .recent-comment:after {
  content: "";
  display: table;
  clear: both;
}
.widget .recent-comment p {
  margin: 0;
}
.widget .recent-comment-body, .widget .recent-comment-footer {
  margin: 0.5em 0 0;
}
.widget .recent-comment-author {
  margin: 0;
  font: inherit;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget .recent-comment + .recent-comment {
  margin-top: 0.5em;
}
.widget .recent-comment-figure {
  width: 3.8461538462em;
  margin: 0.25em 0 0;
  float: left;
}
.widget .recent-comment-avatar {
  display: block;
  width: 3.8461538462em;
  height: 3.8461538462em;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 0;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
}
.widget .recent-comment-time {
  font-size: 60%;
  text-transform: uppercase;
  letter-spacing: 0.1538461538em;
  color: var(--color-alt-2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget .recent-comment-header, .widget .recent-comment-body, .widget .recent-comment-footer {
  margin-left: 4.8461538462em;
}
/* @x(
 block.contact,
 block.contact-editor,
 comment,
 comment-editor,
 pager,
 rich-text-editor,
 type,
 t-o-c,
 user
 ) */
.comments {
  margin: 5% 0 0;
}
.comment-author {
  font: inherit;
  font-weight: bold;
}
.comment-meta {
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.1538461538em;
  color: var(--color-alt-2);
}
.form-comment h4, .form-comment .form-comment-button, .form-comment .form-comment-input, .form-comment .form-comment-select, .form-comment .form-comment-textarea, .form-comment .form-comment-button.p, .form-comment .form-comment-input.p, .form-comment .form-comment-select.p, .form-comment .form-comment-textarea.p, .form-comment .p, .form-contact .form-contact-button, .form-contact .form-contact-input, .form-contact .form-contact-select, .form-contact .form-contact-textarea, .form-contact .form-contact-button.p, .form-contact .form-contact-input.p, .form-contact .form-contact-select.p, .form-contact .form-contact-textarea.p, .form-contact .p {
  margin: var(--y) 0 0 0;
  padding: 0;
}
.form-comment .form-comment .alert {
  margin-bottom: var(--y);
}
.form-comment .button[type='submit'] {
  background: var(--color-button-success);
}
.form-comment .button[type='submit']:focus, .form-comment .button[type='submit']:hover {
  background: var(--color-button-success--hover);
}
.form-comment .button[type='submit']:active {
  background: var(--color-button-success--active);
}
.form-comment .button[href$='#form-comment'] {
  background: var(--color-button-error);
}
.form-comment .button[href$='#form-comment']:focus, .form-comment .button[href$='#form-comment']:hover {
  background: var(--color-button-error--hover);
}
.form-comment .button[href$='#form-comment']:active {
  background: var(--color-button-error--active);
}
/*
 .form-comment .rich-text-editor,
 .form-contact .rich-text-editor {
 border-width:0;
 border-color:var(--color-a);
 background:var(--color);
 color:var(--color--inverse);
 }
 .form-comment .rich-text-editor-view,
 .form-contact .rich-text-editor-view {padding:.7692307692307693em}
 .form-comment .rich-text-editor-view a,
 .form-contact .rich-text-editor-view a {color:var(--color-a)}
 .form-comment .rich-text-editor-tools,
 .form-contact .rich-text-editor-tools {
 font-size:120%;
 visibility:visible;
 opacity:1;
 }
 .form-comment .rich-text-editor-tools a,
 .form-contact .rich-text-editor-tools a {
 background:none;
 color:var(--color-alt-2);
 }
 .form-comment .rich-text-editor-tools a:focus,
 .form-comment .rich-text-editor-tools a:hover,
 .form-contact .rich-text-editor-tools a:focus,
 .form-contact .rich-text-editor-tools a:hover {
 background:none;
 color:var(--color--inverse);
 }
 .form-comment .rich-text-editor-d input,
 .form-contact .rich-text-editor-d input {color:var(--color--inverse)}
 */
.pager-step span a, .pager-step span b {
  border-radius: 2px;
}
/*
 .page-type\:quote blockquote {font-size:120%}
 .page-type\:quote blockquote p:first-child {text-indent:-.4em} // Same with the opening curly quote’s width //
 .page-type\:quote:first-child blockquote:first-child,
 .page-type\:quote:first-child blockquote p:first-child {margin-top:0}
 .is-page .page-type\:quote blockquote {font-size:220%}
 .page-type\:quote blockquote + p {
 font-size:80%;
 letter-spacing:.15384615384615385em;
 color:var(--color-alt-2);
 }
 .page-type\:quote blockquote + p a {color:inherit}
 .page-type\:quote blockquote + p a:focus,
 .page-type\:quote blockquote + p a:hover {text-decoration:underline}
 .page-type\:log {
 padding:0 0 0 1em;
 border-left:1px solid;
 }
 .page-type\:log p:first-child {margin-top:0}
 .page-type\:log p:last-child {font-size:80%}
 */
.form-user .button {
  background: var(--color-button-info);
}
.form-user .button:focus, .form-user .button:hover {
  background: var(--color-button-info--hover);
}
.form-user .button:active {
  background: var(--color-button-info--active);
}
.form-user\:exit .button[href*='exit='] {
  background: var(--color-button-error);
}
.form-user\:exit .button[href*='exit=']:focus, .form-user\:exit .button[href*='exit=']:hover {
  background: var(--color-button-error--hover);
}
.form-user\:exit .button[href*='exit=']:active {
  background: var(--color-button-error--active);
}
/* @icon */
.aside-toggle::before, .pager-next a::after, .pager-prev a::before, .comments-header h3::before, .comment-reply\:v::before, .comment-status\:1 > .comment-header > .comment-author::after, .form-comment .button[type='submit']::before, .form-comment .button[href$='#form-comment']::before, .form-contact .button[type='submit']::before, .form-user .button::before, .form-search .button::before, .alert .error::before, .alert .info::before, .alert .success::before, .page-link::before, .page-link::after, .page-time::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.aside-toggle::before {
  content: '\f0c9';
  /* navicon */
  display: block;
  width: inherit;
  height: inherit;
  font-size: 100%;
  line-height: inherit;
}
.pager-next a::after {
  content: '\f105';
  /* angle-right */
  margin-left: 0.5em;
}
.pager-prev a::before {
  content: '\f104';
  /* angle-left */
  margin-right: 0.5em;
}
.comments-header h3::before {
  content: '\f086';
  /* comments */
  margin-right: 0.25em;
}
.comment-reply\:v::before {
  content: '\f067';
  margin-right: 0.25em;
}
.comment-status\:1 > .comment-header > .comment-author:after {
  content: '\f2be';
  margin-left: 0.5em;
}
.form-comment .button[type='submit']::before {
  content: '\f058';
  /* check-circle */
  margin-right: 0.25em;
}
.form-comment .button[href$='#form-comment']::before {
  content: '\f057';
  /* times-circle */
  margin-right: 0.25em;
}
.form-contact .button[type='submit']::before {
  content: '\f1d8';
  /* send */
  margin-right: 0.25em;
}
.form-user\:enter .button::before {
  content: '\f084';
  /* key */
  margin-right: 0.25em;
}
.form-user\:exit .button[href]:before {
  content: '\f007';
  /* user */
  margin-right: 0.25em;
}
.form-user\:exit .button[href*='exit=']::before {
  content: '\f235';
  /* user-times */
  margin-right: 0.25em;
}
.form-search .button::before {
  content: '\f002';
  /* search */
  display: block;
}
.alert .error::before {
  content: '\f00d';
  /* times */
  margin-right: 0.5em;
}
.alert p::before {
  width: 1.28571429em;
  text-align: center;
  margin: 0 0.25em 0 -0.15em;
}
.alert .info::before {
  content: '\f129';
}
/* info */
.alert .success::before {
  content: '\f00c';
}
/* check */
.page-link::after {
  content: '\f14c';
  /* external-link-square */
  margin-left: 0.5em;
}
.button.page-link::before {
  content: '\f074';
  /* random */
  margin-right: 0.25em;
}
.button.page-link::after {
  display: none;
}
.page-time::before {
  content: '\f073';
  /* calendar */
  display: block;
  float: left;
  margin: 0.1em 0.5em 0 0;
  /* magic number :( */
}
.is\:pages .page-time::before {
  margin-top: 0.45em;
}
/* magic number :( */
/* @media */
@media (max-width: 60em) {
  .wrapper {
    width: auto;
    margin: 0 5%;
  }
}
@media (max-width: 43.125em) {
  body {
    padding-top: 3.0769230769em;
  }
  .header {
    text-align: center;
  }
  .nav {
    display: none;
    height: auto;
  }
  .nav li {
    float: none;
    display: block;
  }
  .nav li ul {
    visibility: visible;
    margin-top: 0;
    opacity: 1;
    position: static;
    width: auto;
    max-width: 100%;
    min-width: 0;
    background: none;
    border: none;
    box-shadow: none;
  }
  .nav li li ul {
    margin-left: 0;
  }
  .nav li ul a, .nav li ul .a {
    font-weight: normal;
    font-size: 96%;
    margin: 0;
  }
  .nav li ul ul {
    margin-left: 1em;
  }
  .aside, .main, .aside + .main {
    float: none;
    display: block;
    clear: both;
    width: auto;
    padding: 0;
  }
  .aside {
    padding-bottom: 5%;
    display: none;
  }
  .aside-toggle, .aside-is-visible .nav, .aside-is-visible .aside {
    display: block;
  }
  .aside-is-visible .aside-toggle {
    position: static;
    float: left;
    margin: 0 0 5%;
  }
  .footer {
    text-align: center;
  }
  .footer-left, .footer-right {
    float: none;
    display: inline;
  }
  .footer-right:before {
    content: '\2013';
    color: var(--color-alt-2);
    margin: 0 1em;
  }
  .align-left, .align-right {
    float: none;
    display: block;
    margin: 0 auto var(--y);
    text-align: center;
  }
}
@media (max-width: 36.25em) {
  .grid-group {
    margin-right: 0;
    margin-left: 0;
  }
  .grid {
    float: none;
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: inherit;
  }
  .grid.form-label {
    line-height: inherit;
    margin-bottom: var(--y);
  }
  .grid:empty {
    display: none;
  }
}
.t-o-c summary {
  text-transform: uppercase;
}
.widget .counter::before {
  content: '(';
}
.widget .counter::after {
  content: ')';
}
.widget .current > a {
  color: inherit;
  text-decoration: none;
}
.widget .form-search {
  margin: 0;
  background: #333;
  color: #fff;
  overflow: hidden;
  position: relative;
}
.widget .form-search .button, .widget .form-search .input {
  display: block;
  width: 100%;
  margin: 0;
  background: none;
  border-radius: 0;
}
.widget .form-search .button {
  padding-right: 0;
  padding-left: 0;
  width: 36px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.widget .form-search .button, .widget .form-search .button:focus, .widget .form-search .button:hover, .widget .form-search .button:active {
  background: none;
  box-shadow: none;
}
::selection {
  background: #f9dc62;
  color: #333;
  text-shadow: none;
}
html {
  font-family: Helmet, FreeSans, sans-serif;
  background: #fff;
  color: #333;
  border-top: 5px solid;
}
a {
  color: #365d98;
}
a:focus, a:hover {
  color: #4474bd;
}
a:active {
  color: #294672;
}
abbr[title], dfn[title] {
  border-bottom: 1px solid transparent;
}
abbr[title]:hover, dfn[title]:hover {
  border-bottom-color: inherit;
}
mark {
  background: #f9dc62;
  color: #333;
}
code, pre, .code {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
}
pre code {
  background: #333;
  color: #fff;
  border-radius: 3px;
}
hr {
  margin-top: 5%;
  margin-bottom: 5%;
}
.button, .input, .select, .textarea {
  display: inline-block;
  width: 180px;
  height: 36px;
  vertical-align: middle;
  padding: 9px 11.5px;
  background: #333;
  border: 0;
  color: #fff;
  text-align: left;
}
.button.small, .input.small, .select.small, .textarea.small {
  height: 27px;
  font-size: 10.4px;
  padding: 4.5px 11.7px;
}
.button.width, .input.width, .select.width, .textarea.width {
  display: block;
  width: 100%;
}
.button:invalid, .input:invalid, .select:invalid, .textarea:invalid {
  color: #faa;
}
.button {
  width: auto;
  padding-right: 14px;
  padding-left: 14px;
  background: #333;
  color: #ffa;
  text-align: center;
  border-radius: 2px;
}
.button::-moz-focus-inner, .input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.button:focus, .button:hover {
  background: #383838;
}
.button:active {
  background: #2e2e2e;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
}
.button-error {
  background: #933;
}
.button-error:focus, .button-error:hover {
  background: #a13636;
}
.button-error:active {
  background: #913030;
}
.button-info {
  background: #6aaac2;
}
.button-info:focus, .button-info:hover {
  background: #71aec5;
}
.button-info:active {
  background: #63a6bf;
}
.button-primary, .button[href] {
  background: #365d98;
}
.button-primary:focus, .button[href]:focus, .button-primary:hover, .button[href]:hover {
  background: #3962a0;
}
.button-primary:active, .button[href]:active {
  background: #335890;
}
.button-success, .button[type="submit"] {
  background: #4b9343;
}
.button-success:focus, .button[type="submit"]:focus, .button-success:hover, .button[type="submit"]:hover {
  background: #4f9a46;
}
.button-success:active, .button[type="submit"]:active {
  background: #478c40;
}
.button-warning {
  background: #db582c;
}
.button-warning:focus, .button-warning:hover {
  background: #dc5f35;
}
.button-warning:active {
  background: #d85225;
}
.textarea {
  overflow: auto;
  height: auto;
  min-height: 90px;
  resize: vertical;
}
.textarea.small {
  min-height: 45px;
}
.textarea.height {
  height: 288px;
}
.textarea.height.small {
  height: 144px;
}
[disabled] button, [readonly] button, .disabled button, [disabled] input, [readonly] input, .disabled input, [disabled] select, [readonly] select, .disabled select, [disabled] textarea, [readonly] textarea, .disabled textarea, [disabled] .button, [readonly] .button, .disabled .button, [disabled] .input, [readonly] .input, .disabled .input, [disabled] .select, [readonly] .select, .disabled .select, [disabled] .textarea, [readonly] .textarea, .disabled .textarea {
  cursor: default;
  cursor: not-alowed;
  opacity: 0.9;
}
.input[type="checkbox"], .input[type="color"], .input[type="file"], .input[type="image"], .input[type="range"], .input[type="radio"] {
  background: none;
  border: 0;
  padding: 0;
  color: inherit;
}
.input[type="color"] {
  width: 36px;
  height: 36px;
}
.input[type="checkbox"], .input[type="radio"] {
  width: 18px;
  height: 18px;
}
.input[type="image"] {
  width: auto;
  height: auto;
}
label .input:checked + span {
  opacity: 0.6;
}
.notes hr {
  border-style: solid;
  border-color: #999;
  width: 91px;
}
.notes ol {
  font-size: 11.18px;
}
