.comments {
  margin: $gap 0 0;
}

.comment {
  &-author {
    font-weight: bold;
  }
  &-meta {
    color: $color-secondary;
    font-size: ($z * 0.8);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.form-comment {
  label {
    padding-top: math.div((($y * 2) - $h), 2);
  }
}