::placeholder {
  @include placeholder;
}

::-webkit-input-placeholder {
  @include placeholder;
}

::-moz-input-placeholder {
  @include placeholder;
}

:-moz-placeholder {
  @include placeholder;
}

:-ms-input-placeholder {
  @include placeholder;
}

.button,
.input,
.select,
.textarea {
  display: inline-block;
  width: ($x * 10);
  height: ($y * 2);
  vertical-align: middle;
  padding: ((($y * 2) - $h) / 2) ($x * .65);
  background: $color;
  color: $color-back;
  border: 0;
  text-align: left;
  &.small {
    height: ($y * 1.5);
    font-size: ($z * .8);
    padding: ((($y * 1.5) - $h) / 2) ($x * .5);
  }
  &.width {
    display: block;
    width: 100%;
  }
  &:invalid {
    color: $color-input-error;
  }
}

.button {
  width: auto;
  padding-right: ($x * .75);
  padding-left: ($x * .75);
  color: $color-back-2;
  text-align: center;
  border-radius: 2px;
  &:focus,
  &:hover {
    background: lighten($color, 2%);
    color: $color-back-2;
  }
  &:active {
    background: darken($color, 2%);
    color: $color-back-2;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, .1);
  }
  @each $k, $v in $color-back-button {
    &.#{$k} {
      background: $v;
      &:focus,
      &:hover {
        background: lighten($v, 2%);
      }
      &:active {
        background: darken($v, 2%);
      }
    }
  }
  &.link {
    @extend a;
    background: transparent;
    box-shadow: none;
  }
  &[href] {
    @extend .button.primary;
  }
  &[type='submit'] {
    @extend .button.success;
  }
}

.textarea {
  overflow: auto;
  height: auto;
  min-height: ($y * 5);
  resize: vertical;
  &.small {
    min-height: ($y * 2.5);
  }
  &.height {
    height: ($y * 16);
  }
}

[disabled],
[readonly],
.disabled,
.readonly {
  &,
  button,
  input,
  select,
  textarea,
  .button,
  .input,
  .select,
  .textarea {
    cursor: default;
    cursor: not-allowed;
    opacity: .9;
  }
}

.input {
  &[type='checkbox'],
  &[type='color'],
  &[type='file'],
  &[type='image'],
  &[type='range'] {
    background: none;
    padding: 0;
    color: inherit;
  }
  &[type='color'] {
    width: ($x * 2);
    height: ($y * 2);
  }
  &[type='checkbox'],
  &[type='image'],
  &[type='radio'] {
    width: auto;
    height: auto;
  }
}

label {
  .input {
    &:checked {
      + span {
        opacity: .6;
      }
    }
  }
}
