.grid-group {
  display: block;
}

.grid-group::after {
  content: "";
  display: table;
  clear: both;
}

.grid-group {
  margin-right: -9px;
  margin-left: -9px;
}

.grid {
  background-clip: content-box;
  min-height: 1px;
  float: left;
  padding: 0 9px;
  cursor: inherit;
}

.grid-group.no-gap {
  margin-right: 0;
  margin-left: 0;
}

.no-gap .grid {
  padding-right: 0;
  padding-left: 0;
}

.span-1 {
  width: 16.666%;
}

.span-2 {
  width: 33.333%;
}

.span-3 {
  width: 50%;
}

.span-4 {
  width: 66.666%;
}

.span-5 {
  width: 83.333%;
}

.span-6 {
  width: 100%;
}
