.hidden {
  display: none;
  &-visually {
    position: absolute !important;
    clip: rect(0 0 0 0);
    clip: rect(0px, 0px, 0px, 0px);
    width: 1px;
    height: 1px;
    margin: -1px 0 0;
    padding: 0;
    border: 0;
    overflow: hidden;
  }
}

.sr {
  @extend .hidden-visually;
}

.cl {
  display: table;
  clear: both;
}

.cf {
  *zoom: 1;
  &::after {
    content: "";
    @extend .cl;
  }
}

.align {
  &-right {
    display: block;
    float: right;
    img {
      display: inline-block;
    }
  }
  &-left {
    display: block;
    float: left;
    img {
      display: inline-block;
    }
  }
  &-center {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    img {
      display: inline-block;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &-top {
    vertical-align: top;
  }
  &-bottom {
    vertical-align: bottom;
  }
  &-middle {
    vertical-align: middle;
  }
}

.text {
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-justify {
    text-align: justify;
  }
}

/* <div class="audio p"><audio src></audio></div> */
.audio {
  display: block;
  position: relative;
  audio {
    display: block;
    width: 100%;
  }
}

/* <figure class="image"> */
.image {
  display: block;
  text-align: center;
  img {
    display: inline-block;
    margin-right: auto;
    marign-left: auto;
  }
}

/* <div class="p"> */
.p {
  display: block;
}

/* <table class="table"> */
.table {
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    border: 1px solid;
  }
}

/* <div class="video p"><video src></video></div> */
.video {
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  embed,
  iframe,
  img, /* :\ */
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
