.pager {
  margin-top: $w;
  overflow: hidden;
  &-normal {
    a,
    b,
    span {
      &,
      &:focus,
      &:hover,
      &:active {
        padding: 0;
        background: none;
        color: inherit;
      }
    }
    a {
      color: $color-link;
      &:focus,
      &:hover {
        color: lighten($color-link, 10%);
      }
      &:active {
        color: darken($color-link, 10%);
      }
    }
  }
  &-prev {
    float: left;
  }
  &-next {
    float: right;
  }
}