html {
  font: normal normal $z/$h Helmet, FreeSans, sans-serif;
}

blockquote {
  font-size: ($z * 1.1);
}

code,
.code {
  font-size: ($z * .86);
  font-weight: normal;
  font-style: normal;
}

code,
pre,
.code {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
}

pre {
  code {
    padding: ($y / 2) ($x / 1.5);
    font-size: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  line-height: 1.25;
  word-wrap: break-word;
}

h1,
.h1 {
  font-size: ($z * 2);
}

h2,
.h2 {
  font-size: ($z * 1.8);
}

h3,
.h3 {
  font-size: ($z * 1.6);
}

h4,
.h4 {
  font-size: ($z * 1.4);
}

h5,
.h5 {
  font-size: ($z * 1.2);
}

h6,
.h6 {
  font-size: ($z * 1);
}

hr {
  border-top: 1px dashed;
  color: inherit;
}

* {
  + blockquote,
  + dl,
  + fieldset,
  + figure,
  + form,
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6,
  + hr,
  + ol,
  + p,
  + pre,
  + table,
  + ul,
  + .h1,
  + .h2,
  + .h3,
  + .h4,
  + .h5,
  + .h6,
  + .p {
    margin-top: $y;
  }
}

ol {
  margin-left: ($x * 2);
  list-style: decimal outside;
}

ul {
  margin-left: ($x * 2);
  list-style: disc outside;
}

ol,
ul {
  ol,
  ul {
    margin-top: 0;
    margin-left: $x;
  }
}

dt {
  @extend .h5;
}

dd {
  margin-left: $x;
}

figcaption {
  margin-top: ($y / 2);
  text-align: center;
}

fieldset {
  padding: $y $x;
  border: 1px solid;
  legend {
    + * {
      margin-top: 0;
    }
  }
}

legend {
  margin: 0;
  padding: 0 ($x / 2);
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  font-size: ($z * .86);
  overflow: visible;
}

optgroup {
  font: inherit;
  font-weight: bolder;
  option {
    padding-left: $x;
    font-weight: normal;
  }
}

iframe {
  &:not([width]) {
    width: 100%;
  }
  &:not([height]) {
    height: ($y * 5);
  }
}

.table {
  caption {
    margin: 0 0 ($y / 2);
    text-align: center;
  }
  th,
  td {
    padding: (($y - (($h - $z) / 2)) / 2) ($x / 2);
  }
}

.align {
  &-right {
    margin-left: $x;
    padding-top: (($h - $z) / 2);
    padding-bottom: (($h - $z) / 2);
  }
  &-left {
    margin-right: $x;
    padding-top: (($h - $z) / 2);
    padding-bottom: (($h - $z) / 2);
  }
}
