.t-o-c {
  summary {
    text-transform: uppercase;
  }
}

.widget {
  li,
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    padding: ($y / 4) 0;
    border: inherit;
    border-width: 0 0 1px;
  }
  ol,
  ul {
    border: 0 solid $color-gray;
    border-width: 1px 0 0;
  }
  .count {
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
  .current {
    > a {
      color: inherit;
    }
  }
  .form {
    &-search {
      position: relative;
      background: $color;
      color: $color-back;
      overflow: hidden;
      p {
        margin: 0;
      }
      .button,
      .input {
        display: block;
        width: 100%;
        background: none;
        border-radius: 0;
      }
      .button {
        padding-right: 0;
        padding-left: 0;
        width: ($x * 2);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        &,
        &:focus,
        &:hover,
        &:active {
          background: none;
          box-shadow: none;
        }
      }
      .input {
        padding-right: ($x * 2); // Same with button width
      }
    }
  }
  .recent {
    &-comments,
    &-comment {
      margin-right: 0;
      margin-left: 0;
      padding: 0;
      border-width: 0;
      list-style: none;
    }
    &-comments {
      li + li {
        margin-top: ($y / 2);
      }
    }
    &-comment {
      p {
        margin: 0;
      }
      &-author {
        font: inherit;
        font-weight: bolder;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-avatar {
        display: block;
        width: 50px;
        height: 50px;
      }
      &-body,
      &-footer {
        margin-top: ($z / 4);
      }
      &-figure {
        width: (($y / 2) + 50);
        float: left;
      }
      &-time {
        font-size: ($z * .8);
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &::after {
        @extend .cf::after;
      }
    }
  }
}

.aside {
  .widget-header + .widget-body {
    margin-top: ($y / 2);
  }
}