@use 'sass:math';

@import '_/var';
@import '_/reset';
@import '_/type';
@import '_/base';
@import '_/icon';
@import '_/form';
@import '_/grid';
@import '_/alert';

::selection {
  background: lighten($fill-mark, 20%);
  color: $color;
  text-shadow: none;
}

:root {
  background: $fill;
  border-top: 5px solid;
  color: $color;
}

a {
  color: $color-link;
  &:hover,
  &:focus {
    color: lighten($color-link, 10%);
  }
  &:active {
    color: darken($color-link, 10%);
  }
}

abbr,
dfn {
  &[title] {
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom-color: inherit;
    }
  }
}

hr {
  margin: $gap 0;
}

mark {
  &,
  &::selection {
    background: $fill-mark;
    color: $color;
  }
}

pre {
  code {
    background: $color;
    border-radius: 3px;
    color: $fill;
  }
}

.body {
  margin: 0 auto;
  width: ($x * 50);
}

.header {
  margin: $gap 0;
}

.content {
  @extend .cf;
  margin-top: $gap;
}

.aside {
  @extend .cf;
  float: left;
  width: 25%;
  .widget {
    &-title {
      margin: 0;
    }
  }
  + .main {
    @extend .cf;
    float: right;
    width: 70%;
  }
}

.nav {
  a {
    display: block;
    font-weight: bold;
    overflow: hidden;
    padding: 0 ($x * 2);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  li,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    position: relative;
    a {
      padding: 0 $x;
    }
    li {
      float: none;
    }
    ul {
      background: $fill;
      border: 1px solid;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
      left: 0;
      line-height: ($y * 2);
      max-width: ($x * 10);
      min-width: ($x * 8);
      position: absolute;
      top: 100%;
      visibility: hidden;
      z-index: 9999;
      ul {
        left: 100%;
        top: -1px;
      }
    }
    &:hover {
      > ul {
        visibility: visible;
      }
    }
  }
  ul {
    @extend .cf;
    line-height: ($y * 2.25);
  }
  .current {
    > a {
      background: $fill-button--primary;
      color: $fill;
      &:hover,
      &:focus {
        background: lighten($fill-button--primary, 2%);
      }
      &:active {
        background: darken($fill-button--primary, 2%);
      }
    }
  }
}

.toggle {
  display: none;
  left: 0;
  position: absolute;
  text-align: center;
  top: 5px; /* border-top-width */
}

.page,
.widget {
  * + &,
  * + &-body {
    margin-top: $y;
  }
}

.page {
  &-footer {
    margin: $gap 0 0;
  }
  &-meta {
    color: $color-secondary;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  + .page {
    margin-top: $gap;
  }
}

.is {
  &\:error {
    .page {
      &-body {
        padding: ($gap * 4) 0;
        text-align: center;
      }
    }
  }
  &\:pages {
    .page {
      &-meta {
        font-size: ($z * .8);
        letter-spacing: 2px;
      }
      &-time {}
    }
  }
}

.footer {
  @extend .cf;
  margin: $gap 0;
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}

@import '_/widget';
@import '_/comment';
@import '_/pager';

@import '_/media';