@use 'sass:color';

$x: 18px;
$y: 18px;

$z: 13px;
$h: 18px;

$gap: 5%;

$color-button: #ffa;
$color-input--invalid: #faa;
$color-link: #365d98;
$color-secondary: #999;
$color: #333;
$fill-button--error: #933;
$fill-button--info: #6aaac2;
$fill-button--primary: #365d98;
$fill-button--success: #4b9343;
$fill-mark: #f9dc62;
$fill: #fff;

$font-mono: monospace;
$font-sans: sans-serif;
$font-serif: serif;

@mixin as-secondary($level: 30%) {
  color: color.scale($color, $lightness: $level);
  line-height: inherit;
  opacity: 1;
}

@mixin no-select {
  user-select: none;
}